In [50]:
from selenium import webdriver
import time
import requests
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup as bs
import lxml
import pandas as pd

In [51]:
options = webdriver.ChromeOptions()

options.add_argument('headless')

options.add_argument('window-size=1920x1080')

path = 'C:\\Users\\user\\Desktop\\Growth Hackers Edu Sessions\\Session05. 실습코드\\chromedriver.exe'

driver = webdriver.Chrome(path, options=options)

driver.implicitly_wait(3)

driver.get('http://www.kobis.or.kr/kobis/business/stat/boxs/findDailyBoxOfficeList.do?loadEnd=0&searchType=search&sSearchFrom=2019-03-31&sSearchTo=2019-04-06&sMultiMovieYn=&sRepNationCd=&sWideAreaCd=')
driver.implicitly_wait(4)

driver.find_element_by_id("btn_0").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_0").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_0").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_0").click()

daily_boxoffice_html = driver.page_source

In [52]:
parsed_daily_boxoffice_html = bs(daily_boxoffice_html, 'html.parser')

daily_boxoffice_6 = parsed_daily_boxoffice_html.find("tbody", {"id":"tbody_0"})

movie_list_6 = daily_boxoffice_6.find_all("tr")

In [53]:
daily_movies_6 = {'영화명' : [],
'순위 변동' : [],
'개봉일' : [],
'매출액' : [],
'매출액점유율' : [],
'관객수' : [],
'누적관객수' : [],
'스크린수' : [],
'상영횟수' : []}

for movie in movie_list_6:
    title_rank = movie.find("td").find_next_sibling("td").text
    daily_movies_6['영화명'].append(title_rank[:-5].strip())
    daily_movies_6['순위 변동'].append(title_rank[-4:].strip())
    daily_movies_6['개봉일'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    daily_movies_6['매출액'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    daily_movies_6['매출액점유율'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    daily_movies_6['관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    daily_movies_6['누적관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    daily_movies_6['스크린수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    daily_movies_6['상영횟수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())

In [54]:
daily_boxoffice_6 = pd.DataFrame(daily_movies_6) 

daily_boxoffice_6.head()

,영화명,순위 변동,개봉일,매출액,매출액점유율,관객수,누적관객수,스크린수,상영횟수
0,샤잠!,동일,2019-04-03,"1,442,542,799",27.8%,"159,709","376,187","1,125","5,252"
1,생일,동일,2019-04-03,"983,373,413",19.0%,"113,342","270,101",856,"3,652"
2,돈,동일,2019-03-20,"897,833,456",17.3%,"99,665","3,034,640",747,"2,903"
3,어스,동일,2019-03-27,"866,242,771",16.7%,"95,398","1,276,910",712,"2,464"
4,장난스런 키스,동일,2019-03-27,"315,510,970",6.1%,"37,263","283,820",433,899

In [55]:
def change_rank(rank):
    if rank == "동일":
        rank = 0
    elif rank[-2:] == "하락":
        rank = int(rank[:-2]) * -1
    elif rank[-2:] == "상승":
        rank = int(rank[:-2]) * 1
    return rank

daily_boxoffice_6['순위 변동'] = daily_boxoffice_6['순위 변동'].map(lambda x: change_rank(x))


daily_boxoffice_6.head()

,영화명,순위 변동,개봉일,매출액,매출액점유율,관객수,누적관객수,스크린수,상영횟수
0,샤잠!,0,2019-04-03,"1,442,542,799",27.8%,"159,709","376,187","1,125","5,252"
1,생일,0,2019-04-03,"983,373,413",19.0%,"113,342","270,101",856,"3,652"
2,돈,0,2019-03-20,"897,833,456",17.3%,"99,665","3,034,640",747,"2,903"
3,어스,0,2019-03-27,"866,242,771",16.7%,"95,398","1,276,910",712,"2,464"
4,장난스런 키스,0,2019-03-27,"315,510,970",6.1%,"37,263","283,820",433,899

In [56]:
tbody_list = ["tbody_112", "tbody_239", "tbody_346", "tbody_448", "tbody_556", "tbody_663"]
btn_list= ['btn_112','btn_239','btn_346','btn_448','btn_556','btn_663' ]

daily_boxoffice_5, daily_boxoffice_4,daily_boxoffice_3,daily_boxoffice_2,daily_boxoffice_1,daily_boxoffice_31 = [[],[],[],[],[],[]]
daily_movies_5, daily_movies_4,daily_movies_3,daily_movies_2,daily_movies_1, daily_movies_31 = [[],[],[],[],[],[]]
movie_list_5, movie_list_4,movie_list_3,movie_list_2,movie_list_1,movie_list_31 = [[],[],[],[],[],[]]

daily_boxoffice_list = [daily_boxoffice_5, daily_boxoffice_4,daily_boxoffice_3,daily_boxoffice_2,daily_boxoffice_1,daily_boxoffice_31]
daily_movies_list = [daily_movies_5, daily_movies_4,daily_movies_3,daily_movies_2,daily_movies_1,daily_movies_31]
movie_list = [movie_list_5, movie_list_4,movie_list_3,movie_list_2,movie_list_1,movie_list_31]

for i in range(6):
    driver.find_element_by_id(btn_list[i]).click()
    driver.implicitly_wait(2)
    driver.find_element_by_id(btn_list[i]).click()
    driver.implicitly_wait(2)
    driver.find_element_by_id(btn_list[i]).click()
    driver.implicitly_wait(2)
    driver.find_element_by_id(btn_list[i]).click()

    daily_boxoffice_html = driver.page_source
    parsed_daily_boxoffice_html = bs(daily_boxoffice_html, 'html.parser')
    daily_boxoffice_list[i] = parsed_daily_boxoffice_html.find("tbody", {"id":tbody_list[i]})
    movie_list[i] = daily_boxoffice_list[i].find_all("tr")

    daily_movies_list[i] = {'영화명' : [],
    '순위 변동' : [],
    '개봉일' : [],
    '매출액' : [],
    '매출액점유율' : [],
    '관객수' : [],
    '누적관객수' : [],
    '스크린수' : [],
    '상영횟수' : []}

    for movie in movie_list[i]:
        title_rank = movie.find("td").find_next_sibling("td").text
        daily_movies_list[i]['영화명'].append(title_rank[:-5].strip())
        daily_movies_list[i]['순위 변동'].append(title_rank[-4:].strip())
        daily_movies_list[i]['개봉일'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").text.strip())
        daily_movies_list[i]['매출액'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
        daily_movies_list[i]['매출액점유율'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
        daily_movies_list[i]['관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
        daily_movies_list[i]['누적관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
        daily_movies_list[i]['스크린수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
        daily_movies_list[i]['상영횟수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())

    daily_boxoffice_list[i] = pd.DataFrame(daily_movies_list[i]) 

    def change_rank(rank):
        if rank == "동일":
            rank = 0
        elif rank[-2:] == "하락":
            rank = int(rank[:-2]) * -1
        elif rank[-2:] == "상승":
            rank = int(rank[:-2]) * 1
        return rank

    daily_boxoffice_list[i]['순위 변동'] = daily_boxoffice_list[i]['순위 변동'].map(lambda x: change_rank(x))

In [57]:
import sqlite3

con = sqlite3.connect("daily_boxoffice.db")

In [58]:
con.execute("CREATE TABLE daily_boxoffice_30(title text, rank int, open text, earning int, earning_share text, audiences int, total_audiences int, num_screen int, num_play int)")
daily_boxoffice_30.to_sql("daily_boxoffice_30", con, chunksize=1000, if_exists='replace')

OperationalError: table daily_boxoffice_30 already exists

In [40]:
dates = [6,5,4,3,2,1,31]
for i in range(6):
    con.execute("CREATE TABLE daily_boxoffice_%s(title text, rank int, open text, earning int, earning_share text, audiences int, total_audiences int, num_screen int, num_play int)" %dates[i])
    daily_boxoffice_list[i].to_sql("daily_boxoffice_" + str(dates[i]), con, chunksize=1000, if_exists='replace')

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [42]:
con.commit()

con.close

In [44]:
con = sqlite3.connect("daily_boxoffice.db")

cursor = con.cursor()

cursor.execute("SELECT * FROM daily_boxoffice_2")

data = cursor.fetchall()

pd.DataFrame(data).head()

,0,1,2,3,4,5,6,7,8,9
0,0,돈,0,2019-03-20,"615,229,510",34.0%,"78,882","2,748,529","1,082","5,258"
1,1,어스,0,2019-03-27,"599,357,720",33.1%,"73,249","1,009,680","1,028","4,853"
2,2,장난스런 키스,2,2019-03-27,"160,760,250",8.9%,"20,766","193,707",491,"1,257"
3,3,캡틴 마블,0,2019-03-06,"150,846,810",8.3%,"19,069","5,560,025",557,"1,718"
4,4,덤보,-2,2019-03-27,"91,770,550",5.1%,"11,698","224,534",565,"1,504"

In [46]:
cursor.execute("SELECT * FROM daily_boxoffice_1")

data = cursor.fetchall()

df = pd.read_sql("SELECT * FROM daily_boxoffice_1", con, index_col='index')

df.head()

,영화명,순위 변동,개봉일,매출액,매출액점유율,관객수,누적관객수,스크린수,상영횟수
index,,,,,,,,,
0,돈,1,2019-03-20,"2,018,644,060",33.4%,"228,294","2,669,647","1,154","5,587"
1,어스,-1,2019-03-27,"1,991,592,850",32.9%,"218,619","936,431","1,113","5,308"
2,덤보,0,2019-03-27,"668,060,240",11.0%,"80,587","212,836",797,"2,198"
3,캡틴 마블,0,2019-03-06,"574,197,440",9.5%,"67,187","5,540,956",620,"1,825"
4,장난스런 키스,0,2019-03-27,"418,418,040",6.9%,"51,007","172,941",532,"1,226"